@font-face{
	font-family:'font1';
	src:url('fonts/Oswald-Regular.ttf');
}
@font-face{
	font-family:'font2';
	src:url('fonts/Raleway-Regular.ttf');
}
body{
	font-family:'font2';
}
.font01{
	font-family:'font1';
}
.font02{
	font-family:'font2';
}
.border-radius{
	border-radius:8px;
}
.relative{
	position:relative;
}
.flex-center{
	display:flex;
	align-items:center;
	justify-content:center;
}
.flex{
	display:flex;
	flex-wrap:wrap;
}
.text-center{
	text-align:center;
}
/*---- MAIN CONTENT ----*/
.box-outer{
	margin:0 auto;
	max-width:600px;
}
.box{
	box-shadow:0px 0px 3px 1px #cdcdcd;
	margin:10px 10px 30px 10px;
	overflow:hidden;
	background:#265c93;
	color:#fff;
	height:275px;
}
