@font-face{	font-family:'font1';
	src:url('fonts/Oswald-Regular.ttf');
}
@font-face{
	font-family:'font2';
	src:url('fonts/Raleway-Regular.ttf');
}
body{
	font-family:'font2';
}
.font01{
	font-family:'font1';
}
.font02{
	font-family:'font2';
}
.border-radius{
	border-radius:8px;
}
.relative{
	position:relative;
}
.flex-center{
	display:flex;
	align-items:center;
	justify-content:center;
}
.flex{
	display:flex;
	flex-wrap:wrap;
}
.text-center{
	text-align:center;
}
/*---- MAIN CONTENT ----*/
.box-outer{
	margin:0 auto;
	max-width:600px;
}
.box{
	box-shadow:0px 0px 3px 1px #cdcdcd;
	margin:10px 10px 30px 10px;
	overflow:hidden;
	color:#fff;
	height:275px;
	background:#22285d;
}
.design{
	background:linear-gradient(45deg, #8300e6, #00e8ff);
	transform:rotate(315deg);
	position:absolute;
	border-radius:100px;
}
.design-small{
	width:60px;
	height:25px;
}
.design-medium{
	width:133px;
	height:54px;
}
.design-large{
	width:280px;
	height:130px;
}
.design01{
	right:10px;
	top:50px;
}
.design02{
	right:80px;
	top:50px;
}
.design03{
	right:120px;
	top:20px;
}
